:root{
    --color-dark-brown: #2b0404;
    --color-black: #080404;
    --color-red: #ee0404;
    --color-medium-red: #a30404;
    --color-dark-red: #6c0404;
    --color-darker-red: #3c0404;
    --color-dark-red: #180404;
}